
body {
  background: url(laptop_image.jpeg) no-repeat center center fixed;
  background-size: auto;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
}